.new-room-wrapper {
  padding: 20px 50px;
}

.article-post-room-index {
  width: 50%;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
  padding: 0 20px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  margin: 0 auto;
}

.title-content-room-index {
  padding: 5px 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #CCC;
}

.register-btn-room-index {
  height: 40px;
  width: 35%;
  padding: 5px;
  margin: 30px 0 20px 20px;
  background: #3ccace;
  text-align: center;
  font-size: 17px;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #CCC;
  cursor: pointer;
}

input[type="submit"].register-btn-room-index {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.border {
  margin: 10px auto;
  width: 80%;
  border-bottom: 2px solid #CCC;
}

.search-field {
  width: 60%;
  height: 80px;
  margin: 0 auto;

}

.search-form {
  width: 100%;
  height: 30px;
}

.search-input {
  width: 50%;
  height: 30px;
  padding: 3px 20px;
  margin: 10px 0 0 120px;
  border: 1px solid #CCC;
  border-radius: 10px;
  display: inline-block;
}

input[type="submit"].search-btn {
  color: white;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 20px;
  height: 30px;
  line-height: 0;
}

.search-btn {
  width: 15%;
  padding: 5px;
  background: #3ccace;
  text-align: center;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid #CCC;
  cursor: pointer;
}

.room-list-title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  margin: 20px 0;
}

.room-list {
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px 50px 30px;
}

.room-list-supplement {
  text-align: right;
  font-size: 15px;
  margin-bottom: 3px;
  color: #555555;
}

.room {
  display: flex;
  padding: 10px 20px 5px 30px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
  height: auto;
}

.room-name{
  width: 55%;
  padding-right: 5px;
}

.room-name a {
  padding-top: 5px;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.room-nickname {
  font-size: 14px;
  padding: 5px 5px 0 0;
  width: 45%;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
}


.room-date {
  padding-top: 3px;
  font-size: 11px;
  text-align: right;
  color: #555555;
}

.btn-position {
  width: 100%;
  text-align: center;
}

.room-destroy-button {
  height: 40px;
  width: 35%;
  padding: 5px;
  margin: 20px 10px 0 10px;
  background: #3ccace;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  border: 2px solid #CCC;
  cursor: pointer;
  display: inline-block;
}

.room-destroy-button a {
  width: 30%;
  color: white;
  text-decoration: none;
  font-size: 17px;
  height: 40px;
  line-height: 30px;
  width: 100%;
  display: block;
}

/* 検索結果なし */
.search-nil {
  width: 100%;
  text-align: center;
  color: #F89174;
  font-size: 17px;
  text-decoration: underline;
  padding: 0 40px 5px 0;
}

/* ルーム認証 */
.article-post-room-key {
  color: #555555;
}

.room-key-title {
  font-size: 25px;
  padding: 30px 0 10px 0;
  width: 70%;
}

.article-post-room-key {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}