* {
  box-sizing: border-box;
}

/* ヘッダー全体 */
.top_page_header {
  background-color: #fff;
  height: 75px;
  width: 100%;
  opacity: 0.9;
  position: fixed; 
  top: 0; 
  left: 0; 
}

/* 左のヘッダー */
.left_menu{
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

/* 右のヘッダー */
.right_menu li{
  display: inline-block;
  
}

.right_menu li a{
  font-weight: bold;
  font-size: 15px;
  color: #333333;
  padding: 20px;
  text-decoration: none;
}

.right_menu{
  text-align: right;
  padding-top: 25px;
}

.logo-icon {
  width: 250px;
}

.logout,.login,.sign-up{
  width: 100%;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
  color: #fff;
  line-height: 40px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.logout:hover {
  background-color: #DCDCDC;
}

.login:hover {
  background-color: #DCDCDC;
}

.sign-up:hover {
  background-color: #DCDCDC;
}
