.flash-index {
  margin: 0 auto;
  font-size: 16px;
  width: 80%;
  text-align: center;
  color: red;
  background-color: #FFFFC0;
  border-radius: 20px;
}

.flash-index-error {
  margin: 0 auto;
  font-size: 16px;
  width: 90%;
  text-align: center;
  color: red;
  background-color: #FFFFC0;
  border-radius: 20px;
}

.top-title {
  display: flex;
  align-items: center;
}

.page-title {
  text-align: center;
  width: 60%;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 180px 0 0;
}

.rooms-index {
  padding-top: 40px;
  width: 40%;
  display: block;
  text-align: center;
  
}

.rooms-index a {
  padding: 20px;
  text-decoration: none;
  background-color: #F89174;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #CCC;
}

.flex-contents {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.side-var {
  width: 30%;
  height: auto;
  padding: 10px 20px;
  margin-right: 40px;
  background-color: white;
  border-radius: 10px;
 
}

.schedule-input-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.title-content {
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
  font-size: 15px;
}

.text-content-todo {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
  font-size: 15px;
}

.date-content {
  width: 30%;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #CCC;
  
}

input[type="file"].image{
  display: inline-block;
  margin: 10px 0;
  font-size: 13px;
  background-color: #fff;
  color: #555555;
  border-radius: 0 10px 10px 0;
  border: 1px solid #CCC;
  overflow: hidden;
  text-overflow: ellipsis;
}

.register-field {
  text-align: center;
}

form input[type="submit"].register-btn {
  width: 80%;
  margin: 20px 0;
  background: #3ccace;
  border: 2px solid #CCC;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}

/* カレンダー部分 */
.calendar {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding-top: 18px;
}

.calendar-title {
  font-size: 20px;
}

.calendar-heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendar-heading a {
  padding: 3px 5px;
  background-color: #3ccace;
  color: #fff;
  border-radius: 10px;
  margin: 0 20px;
  font-size: 13px;
  text-decoration: none;
  border: 1px solid #CCC;
}

.calendar-schedule {
  background-color: #F89174;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 2px;
  border: 1px solid #CCC;
}

.calendar-schedule a {
  color: #fff;
  text-decoration: none;
  display: block;
}

/* リスト表示部分 */
.main-contents{
  height: auto;
  width: 100%;
  padding: 0 50px 10px 300px;
}

.articles{
  margin: 0 0 0 auto;
  width: 80%;
  padding: 0 70px 0 10px;
}

.article{
  height: 150px;
  width: 100%;
  background: #DDDDDD;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-between; 
  border-radius: 10px;
  border: 1px solid #CCC;
}

.article-overview{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
}

.article-overview a{
  display: block;
  height: 100%;
  text-decoration: none;
}

.article-title{
  height: 50%;
  width: 100%;
  padding: 10px 10px 0 10px;
  font-size: 23px;
  color: #555555;
  font-weight: bold;
  border-bottom: solid 2px #555555;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.article-information{
  height: 15%;
  width: 100%;
  display: flex;
}

.article-post-date{
  width: 60%;
  font-size: 15px;
  color: #555555;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-about-time{
  width: 35%;
  padding: 5px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-information {
  height: 30px;
}

.article-check{
  display: flex;
  width: 50%;
  height: 10%;
  
}

.article-check-button, .article-edit-button{
  height: 30px;
  width: 100%;
  padding: 5px;
  margin-right: 20px;
  background: #3ccace;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #CCC;
  cursor: pointer;
}

.article-check-button a, .article-edit-button a  {
  color: white;
  text-decoration: none;
  display: block;
}

.article-image{
  width: 25%;
  height: 100%;
  margin-right: 10px;
}

.no-image {
  width: 20%;
  line-height: 100px;
  color: white;
  text-decoration: underline;
}

.plus-btn {
  display: none;
}

/* スマホサイズ以下の場合に表示 */
@media (max-width: 500px){
  .rooms-index {
    padding-top: 30px;
    width: 40%;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  
  .rooms-index a {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: #F89174;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #CCC;
  }

  .page-title {
    text-align: left;
    width: 60%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 30px 0 0 30px;
  }

  .flex-contents {
    width: 100%;
    padding: 30px 10px 10px 10px;
    
  }

  .calendar {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
  }
  
  .calendar-title {
    font-size: 17px;
  }
  
  .calendar-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .calendar-heading a {
    padding: 3px 5px;
    background-color: #3ccace;
    color: #fff;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 11px;
    text-decoration: none;
    border: 1px solid #CCC;
  }
  
  .calendar-schedule {
    background-color: #F89174;
    text-align: center;
    border-radius: 5px;
    font-size: 11px;
    margin-bottom: 2px;
    border: 1px solid #CCC;
  }
  
  .calendar-schedule a {
    color: #fff;
    text-decoration: none;
    display: block;
  }

  .main-contents{
    height: auto;
    width: 100%;
    padding: 0;
  }
  
  .articles{
    width: 100%;
    padding: 10px 30px 0 30px;
    position: relative;
  }
  
  .article{
    height: 90px;
    width: 100%;
    background: #DDDDDD;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between; 
    border-radius: 10px;
    border: 1px solid #CCC;
  }
  
  .article-overview{
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
  }
  
  .article-overview a{
    display: block;
    height: 100%;
    text-decoration: none;
  }
  
  .article-title{
    height: 50%;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    color: #555555;
    font-weight: bold;
    border-bottom: solid 2px #555555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .article-information{
    height: 15%;
    width: 100%;
    display: flex;
  }
  
  .article-post-date{
    width: 60%;
    font-size: 12px;
    color: #555555;
  }
  
  .article-about-time{
    width: 35%;
    padding: 5px;
    font-size: 12px;
  }
  
  .article-information {
    height: 28px;
  }
  
  .article-check{
    display: flex;
    width: 60%;
    height: 10%;
    
  }
  
  .article-check-button, .article-edit-button{
    height: 25px;
    width: 100%;
    padding: 5px;
    margin-right: 20px;
    background: #3ccace;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    border: 2px solid #CCC;
    cursor: pointer;
  }
  
  .article-check-button a, .article-edit-button a  {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 12px;
  }
  
  .no-image {
    width: 23%;
    line-height: 90px;
    color: white;
    text-decoration: underline;
  }

  .article-check-button-contributor {
    padding-top: 10px;
    font-size: 10px;
    text-decoration: underline;
    margin-left: 5px;
  }

  .plus-btn {
    display: block;
  }

  .plus-btn {
    display: flex;
    position: fixed; 
    bottom: 20px;
    left: 45%; 
    z-index: 10;
  }

  .article-check-button-room, .article-edit-button-room{
    height: 27px;
    width: 20%;
    padding: 5px;
    margin-right: 10px;
    background: #3ccace;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #CCC;
    cursor: pointer;
   }

   .side-var {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 140px auto;
    z-index: 10;
    width: 80%;
    height: auto;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .schedule-input-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .title-content {
    width: 100%;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    font-size: 15px;
  }
  
  .text-content-todo {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    font-size: 15px;
  }
  
  .date-content {
    width: 30%;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    
  }
  
  input[type="file"].image{
    display: inline-block;
    margin: 10px 0;
    font-size: 13px;
    background-color: #fff;
    color: #555555;
    border-radius: 0 10px 10px 0;
    border: 1px solid #CCC;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .register-field {
    text-align: center;
  }
  
  form input[type="submit"].register-btn {
    width: 80%;
    margin: 20px 0;
    background: #3ccace;
    border: 2px solid #CCC;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
  }
}




